.container {
  background-color: white;
  border-radius: 15px;
}

i {
  cursor: pointer;
}

#calendar {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
}

#calendar tr,
#calendar tbody {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

#calendar td {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #dadce0;
  text-align: center;
  min-height: 120px;
}

#calendar .weeks th {
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  border: none !important;
  font-size: 13px;
}

/* Days with entries have this color */
.entry {
  background-color: #96bce2;
}

.date button {
  color: white;
}

.date button:hover {
  cursor: pointer;
  font-weight: 800;
  color: white;
}

.today button {
  margin: 0;
  padding: 5px;
  border-radius: 50%;
  background: rgb(30, 105, 218);
  color: white;
}

.today button:hover {
  cursor: pointer;
  font-weight: 800;
  color: white;
}

tr td:hover:not(.prev-month):not(.next-month) {
  cursor: pointer;
  font-weight: 800;
}

#calendar .prev-month,
.next-month {
  opacity: 0.5;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

a {
  color: black;
  text-decoration: none;
}

.card {
  height: 138px;
}

.card {
  transition: 0.2s;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.card:hover {
  transition: 0.2s;
  box-shadow: inset 0 0px 0px white, 0 0 4px #163172;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
