html, body {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
}

.container {
  background-color: white;
}
.date i {
  cursor: pointer;
}

.calendar {
  
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
  height: 501px;
  perspective: 1000;
  transition: .9s;
  transform-style: preserve-3d;
  width: 100%;
}

.current-date h1 {
  font-size: 2em;
  font-weight: 500;
}


.today {
  background-color: #167e56;
}

.weeks span:hover:not(.prev-month):not(.next-month) {
  cursor: pointer;
  font-weight: 700;
}

.prev-month, .next-month {
    opacity: 0.5;
}

.weeks span.today {
  background: #f78536;
  border-radius: 100%;
}