@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;800&display=swap");

/* global */

html, body {
  min-height: 100vh;
  background-size: contain;
  background: linear-gradient(
    200deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(202, 222, 242, 1) 100%
  );
  font-family: "Fira Sans", sans-serif;
}

/* login */

.btn-custom {
  border-style: solid;
  border-radius: 25px;
  border: 1px solid black;
  transition: 0.3s;
}

.btn-custom:hover {
  background-color: #163172;
  color: white;
  transition: 0.2s;
}

.btn-signup {
  border-color: rgb(255, 255, 255);
  color: rgb(0, 183, 255);
  font-size: 10pt;
  padding: 0px;
}

.btn-signup:hover {
  border-color: rgb(255, 255, 255);
  color: rgb(0, 0, 255);
  font-size: 10pt;
  padding: 0px;
}

.form-control:focus {
  border-color: #163172;
  box-shadow: inset 0 0px 0px #163172, 0 0 4px #163172;
  transition: 0.2s;
}

/* Main Page */

.navbar-brand {
  font-size: 2rem;
}

.header {
  background-color: #163172;
}

h1 {
  font-weight: 800;
}


.privacy-globe {
  font-size: 0.9em;
  cursor: pointer;
}

.privacy-lock {
  font-size: 0.9em;
  cursor: pointer;
}