.card-footer {
    background-color: white

}

.fas {
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 50px;
    color: #d6e4f0;
    padding-bottom: 20px;
    padding-right: 30px;
    transition: 0.3s;
}

.fas:hover {
    color: #1e56a0;
    animation-delay: 2s;
    transition: 0.2s;
}