img {
    border-radius: 200%;
    height: 100px;
    width: 100px;
}

.card {
    border: none;
}

.card-header {
    background-color: white;
}

.entry {
    border-radius:none;
}

.custom-section {
    min-height: calc(100vh - 74px);
  }

.name-card-body {
    padding: 1em 1em 0 1em;
}
/* 
  .img-col {
      max-width: 128px;
      padding-right: 0;
  }

  .btn-col {
      width: 50px;
  } */