{{#each entries}}
    <div class="row">
        <div class="col-md-12 py-3">
            <a href="/searchentry/{{this._id}}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{this.entryTitle}}</h5>
                        <p class="card-text">{{this.entryBody}}</p>
                    </div>
                </div>  
            </a>
        </div>
    </div>
{{/each}}