{{#each entries}}
    <div class="row">
    <div class="col-md-12 py-3">
        <a href="/searchentry/{{this._id}}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{this.entryTitle}}</h5>
                    <p class="card-text">{{this.entryBody}}</p>
                </div>
            </div>  
        </a>
    </div>
    </div>
{{/each}}


{{!-- <div
    class="modal fade"
    id="dateEntry"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div
    class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg"
    >
    
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="dateEntryLabel">
        </h5>
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
        ></button>
        </div>

        <div class="modal-body"></div>
 
        <div class="modal-footer">
        <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
        >
            Close
        </button>
        </div>
    </div>
    </div>
</div> --}}