<!-- Carousel -->
<section>
  <div class="container">
    <div class="row justify-content-center mt-3 mb-1">
      <div class="col-9">
        <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner" style="height: 6.3em; border-radius: 5px;">
            <div class="carousel-item active" data-bs-interval="12000" style="height: 7.75em;">
              <a href="/memories">
                <!-- <img src="Images/gradient1.jpg" class="d-block w-100" alt="...">                  -->
                <div class="carousel-caption">
                  <p
                    class="text-center"
                    style="
                      text-shadow: 0 0 1px #22479c, 0 0 1px #163172;
                      font-weight: 400;
                      font-size: 30pt;
                    "
                  >
                    Memories
                  </p>
                </div>
              </a>
            </div>
            <div class="carousel-item" data-bs-interval="12000" style="height: 7.75em;">
              <a href="/letters">
                <!-- <img src="Images/gradient2.jfif" class="d-block w-100" alt="..."> -->
                <div class="carousel-caption">
                  <p
                    class="text-center"
                    style="
                      text-shadow: 0 0 1px #22479c, 0 0 1px #163172;
                      font-weight: 400;
                      font-size: 30pt;
                    "
                  >
                    Letters
                  </p>
                </div>
              </a>
            </div>
            <div class="carousel-item" data-bs-interval="12000" style="height: 7.75em;">
              <a href="/calendar">
                <!-- <img src="Images/gradient3.jfif" class="d-block w-100" alt="..."> -->
                <div class="carousel-caption">
                  <p
                    class="text-center"
                    style="
                      text-shadow: 0 0 1px #22479c, 0 0 1px #163172;
                      font-weight: 400;
                      font-size: 30pt;
                    "
                  >
                    Calendar
                  </p>
                </div>
              </a>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>