{{> navbar}}
<section class="d-flex align-items-center" style="min-height: 100vh">
    <div class="container" style="background-color: white;">
        <div id='calendar' class="px-3 py-4" style="width: 100%"></div>
    </div>
</section>
