{{>navbar}}
<div class="custom-section">
    <div class="text-center align-middle">
        <h1>ERROR 404</h1>
        <h3>We cannot find the page you are looking for</h1>
        
        <a href="/mainpage"><p>Return to Main Page</p></href>
    </div>
</div>

