{{> navbar}}
<section class="custom-section">
      <div class="container d-flex align-items-center justify-content-center" style="min-height: inherit;">
        <div class="row">
          <div class="card mb-3" >
            <div class="row d-flex g-0">
              <div class="col-lg-8 col-md-12 py-2">
                <div class="card-body">
                  <h5 class="card-title">{{GEDANCE}}</h5>
                  <p class="card-text" id="area">
                    I then practiced 
                    submit a dance routine called pop line dance one and it comprised of six parts.
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 py-3 d-flex align-items-center justify-content-center">
                <img src="Images/gedance.jpg" class="img-fluid" alt="...">
              </div>
              <!-- Entry Footer -->
              <div class="card-footer">
                <div class="row">
                  <div class="col mt-1">
                    <p class="card-text justify-content-center">
                      <small class="text-muted">
                        <i class="fas fa-globe-americas mx-1 privacy-globe" data-bs-toggle="tooltip" title="Public Entry"></i> 
                        Posted on March 29, 2021
                      </small></p>
                  </div>
                  <!-- Entry Settings -->
                  <div class="col d-flex justify-content-end">
                    <div class="dropdown dropup">
                      <button class="btn" type="button" id="dropdownMenuEntry" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-ellipsis-h text-end" data-bs-toggle="tooltip" title="Entry Settings"></i>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuEntry">
                        <li><button class="dropdown-item" type="button" data-bs-toggle="modal"
                          data-bs-target="#editEntry">Edit Entry</button></li>
                        <li><button class="dropdown-item" type="button" data-bs-toggle="modal"
                          data-bs-target="#deleteEntry">Delete Entry</button></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Edit Entry Modal -->
    <div
    class="modal fade"
    id="editEntry"
    tabindex="-1"
    aria-labelledby="createEntryModalLabel"
    aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered" style="width: 50em">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editEntryModalLabel">Edit Entry</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <!-- Edit entry -->
              <form>
                <div class="mb-3">
                  <label class="visually-hidden" for="autoSizingSelect">New Title</label>
                  <input type="text" class="form-control" placeholder="New Title" aria-label="New Title" maxlength = "50">
                </div>
                <div class="row g-3 mb-4">
                  <div class="col-md-4">
                    <label for="inputPrivacy" style="font-size: 14px;">Select Privacy</label>
                    <select id="inputPrivacy" class="form-select">
                      <option selected>Private</option>
                      <option>Public</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <label for="dateEntry" style="font-size: 14px;">Date and Time</label>
                    <input type="datetime-local" class="form-control" id="dateEntry">
                  </div>
                  <div class="col-md-4">
                    <label for="inputPrivacy" style="font-size: 14px;">Entry's Significance</label>
                    <select id="inputPrivacy" class="form-select ">
                      <option selected>None</option>
                      <option>5</option>
                      <option>4</option>
                      <option>3</option>
                      <option>2</option>
                      <option>1</option>
                    </select>
                  </div> 
                </div>
                
                <div class="mb-3">
                  <label class="visually-hidden" for="entryFormControlTextarea1" class="form-label">New Entry</label>
                  <textarea class="form-control" id="entryFormControlTextarea1" rows="5" placeholder="Enter new entry" aria-label="entry content"></textarea>
                </div>

                <div class="mb-3">
                  <div class="row">
                    <label for="exampleFormControlFile1" style="font-size: 14px;">Insert Image</label>
                    <input type="file" class="form-control-file" id="imageFormControlFile1" accept="image/x-png,image/jpeg" >
                  </div>
                </div>
              </form>
            
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteEntry" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
                  <div class="modal-header">
                  <h5 class="modal-title" id="deleteEntryModalLabel">Remove Post</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    This option will delete your entry forever. Delete entry?
                  </div>
                  <div class="modal-footer">
                  <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Delete Entry</button>
                  </div>
          </div>
      </div>
    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>