{{> navbar}}
{{> carousel}}

<!-- Sort Button -->
<div class="container" id="sortBtn">
  {{#if entries}}
    <div class="row">
      <div class="col-9 mx-auto">
        <div class="dropstart">
          <button class="btn dropdown-toggle dropDownSort" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-filter"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {{{sortMethod sortMethod}}}
          </ul>
        </div>
      </div>
    </div>
  {{/if}}
</div>
   
<section> 
  <div id="mainSection">
    {{#each entries}}
      {{> entry}}
    {{/each}}
  </div>
</section>

<section>
  <!-- Create entry button (modal) -->
  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#createEntryModal" style="box-shadow: none">
    <i class="fas fa-feather-alt" id="newEntry"></i>
  </button>
    
  <!-- Create Entry Modal -->
  <div class="modal fade" id="createEntryModal" tabindex="-1" aria-labelledby="createEntryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createEntryModalLabel">Create an Entry</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <!-- Creating entry -->

          {{!-- action="/createentry" method="POST" enctype="multipart/form-data" --}}
          <form id="createEntryForm">
            <div class="mb-3">
              <label class="visually-hidden" for="autoSizingSelect">Title of Entry</label>
              <input id="entryTitleCreate" type="text" name="entryTitle" class="form-control" placeholder="Title of Entry" aria-label="Title of Entry" maxlength = "50">
              <div id="emptyTitleCreate" style="font-size: 8pt; color: red;"></div>
            </div>
            <div class="row g-3 mb-4">
              <div class="col-md-3">
                <label for="inputPrivacy" style="font-size: 14px;">Select Privacy</label>
                <select id="inputPrivacy" name="privacy" class="form-select">
                  <option selected value="private">Private</option>
                  <option value="public">Public</option>
                </select>
              </div>
              <div class="col-md-5">
                <label for="dateEntry" style="font-size: 14px;">Date</label>
                <input type="date" name="entryDate" class="form-control" id="dateEntry">
                <div id="futureDateOnCreate" style="font-size: 8pt; color: red;"></div>
              </div>
              <div class="col-md-4">
                <label for="inputSignificance" style="font-size: 14px;">Entry's Significance</label>
                <select id="inputSignificance" name="significance" class="form-select ">
                  <option selected>None</option>
                  <option value="5">5</option>
                  <option value="4">4</option>
                  <option value="3">3</option>
                  <option value="2">2</option>
                  <option value="1">1</option>
                </select>
              </div> 
            </div>       
            <div class="mb-3">
              <label class="visually-hidden" for="entryFormControlTextarea1" class="form-label">Entry Text Area</label>
              <textarea class="form-control" name="entryBody" id="entryBodyCreate" rows="5" placeholder="What happened today?" aria-label="entry content"></textarea>
              <div id="emptyBodyCreate" style="font-size: 8pt; color: red;"></div>
            </div>
            <div class="mb-3">
              <div class="row">
                <label for="exampleFormControlFile1" style="font-size: 14px;">Insert Image</label>
                <input type="file" name="entryImage" class="form-control-file" id="imageFormControlFile1" accept="image/x-png,image/jpeg">
              </div>
            </div>
            <div class="modal-footer">
              <button id="cancelEntry" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button id="createBtn" type="button" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>   
      </div>
    </div>
  </div>
</section>
   