
.custom-section {
    min-height: calc(100vh - 74px);
  }

h5 {
    font-size:30px;
}

.card {
    max-width:1600px;
    padding: 0px;
}

#area {
    min-width: 200px;
    font-size: 24px;
    max-height: 450px;
    overflow-y: auto;
    word-break: break-word; 
}


img {
    min-width: 200px;
    max-height: 500px;
    object-fit: cover;
    border-radius: 15px;
    padding: 10px;
}

.card-footer {
    background-color: white;
}