.custom-section {
  min-height: calc(100vh - 74px);
}

a {
  color: black;
  text-decoration: none;
}

.displaypicture {
  padding: 0;
  border: 0;
  border-radius: 200%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  height: 18em;
  width: 18em;
  object-fit: cover;
  transition: 0.2s;
}

.displaypicture:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.377);
  object-fit: cover;
  transition: 0.2s;
}

.displaypicturemodal {
  padding: 0;
  border: 0;
  border-radius: 200%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  height: 30em;
  width: 30em;
  object-fit: cover;
  transition: 0.2s;
}
